img {
  width: 20%;
  height: auto;
  display: block;
  margin-left: 500px;
  margin-bottom: 20px;
}
#percentage {
  border: 1px solid brown;
  border-radius: 25%;
  box-shadow: 2px;
  width: 10%;
  height: 3%;
  position: fixed;
  top: 0;
  float: right;
}
